:root {
    --base-font-color: #484848;

    --color-totally-white: #FFFFFF;
    --color-almost-white: #F5F5F5;

    --color-baneforum-darkgray: #285da1;
    --color-baneforum-darkishgray:  #6E6E6E;
    --color-baneforum-lightgray: lightgray;
}

.wrap {
    background-color: var(--color-totally-white);
    border-color: var(--color-totally-white);
}

table.markdown, table.markdown td, table.markdown th {
	border: 0.02rem solid var(--color-baneforum-darkishgray);
}

.attachbox dl.thumbnail {
    border: 1px solid var(--color-baneforum-darkgray);		
}

ul.topiclist li {
    color: inherit;
}

a:hover .icon.icon-gray, .pagination .icon, a:hover, dl.file dd {
    color: var(--color-baneforum-darkgray);
}

input.button2, input.button1, input.button1:hover, input.button2:hover, .button:hover, 
.button:focus, .button:hover .icon, .button .icon, .button, .pagination li.active span,
.error,.pagination li a:hover, .pagination li a:hover .icon, 
.pagination .dropdown-visible a.dropdown-trigger, 
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
    color: var(--color-almost-white);
}

body, p.author, a, .postbody h3.first a, .postbody h3 a, h3,
.postbody .content, .content blockquote, .content p, 
.tabs .tab > a:hover,.tabs .tab > a, dl.attachbox dt {
    color: var(--base-font-color);
}

input.button2, input.button1, input.button1:hover, 
input.button2:hover, .button:hover, .button:focus, .pagination li.active span,
.post-buttons .button:hover, .format-buttons .button:hover,
.pagination li a:hover, .pagination li a:hover .icon, 
.pagination .dropdown-visible a.dropdown-trigger, 
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
    background: var(--color-baneforum-darkgray);
}

.headerbar, .forabg, .forumbg, table.markdown thead {
    background-color: var(--color-baneforum-darkgray);
}

body, .bg1, ul.forums, .panel,.navbar,li.row:hover,.tabs .tab > a,
.tabs .tab > a:hover, .bg2, .attachbox dl.thumbnail  {
    background-color: var(--color-almost-white);
}

.content blockquote {
    background-color: rgb(255, 245, 235);
}

.pagination li.active span {
    border-color: var(--color-baneforum-darkgray);
}

.button-secondary, .inputbox::placeholder, .content blockquote cite,
.content blockquote cite a,.signature,.icon.icon-gray {
    color: var(--color-baneforum-darkishgray);
}

.button, .post-buttons .button, .format-buttons .button {
    background: var(--color-baneforum-darkishgray);
}

.signature {
    border-top-color: transparent;    
}

.content blockquote, select {    
    border-color: var(--color-baneforum-lightgray);    
}

.error {    
    background-color: darkred;
}

.inputbox:hover, .inputbox {
	border: 0.15rem solid var(--color-baneforum-lightgray);
}

li.row {
    border-top-color: transparent;
    border-bottom-color: var(--color-baneforum-lightgray);
}

ul.topiclist dd {
    border-left-color: var(--color-almost-white);
}

dl.thumbnail dt a:hover {
    background-color: transparent;
}

ul.forums {    
    background-image: none;
}

.tabs .tab > a:hover {    
    border: 1px solid var(--color-baneforum-lightgray); 
}
