:root {
	--base-font: "Roboto", sans-serif;	
	--font-headline: "Oswald", sans-serif;
	--font-title: "Roboto Slab", serif;
	--font-comic: "Comic Sans", sans-serif;

	--base-font-size: 0.8em;
}

body {
	background: url("images/background.jpg")  no-repeat fixed center;
	
	font-family: var(--base-font);
	font-size: var(--base-font-size);	
}

body, fieldset, h1, h2, h3 {	
	text-transform: none;
}

fieldset, .button, .postbody .content, a.forumtitle, a.topictitle, 
p.author, .attachbox dt, .message-box textarea,
dl.faq, .postbody h3, .content p,input, input.button1, 
input.button2, input.button3, select, textarea, dl.file, 
dl.file dt, .pagination li.active span {
	font-family: inherit;
}

.searchresults-title, h1.markdown, 
h2.markdown, h3.markdown, h4.markdown, h5.markdown, h6.markdown,
.site-description h1 {
	font-family: var(--font-headline);
}

.posting-title, .statistics h3, .headerspace h3, .topic-title, .forum-title {
	font-family: var(--font-title);
}

.attachbox dl.thumbnail {
	font-family: var(--font-comic);
}

fieldset, .content, p, p.author, .postbody .content,
.signature, input.button1, input.button2, 
input.button3, .content blockquote, blockquote cite, 
li.header dl.row-item dt, li.header dl.row-item dd, .attachbox {
	font-size: inherit;
}

select, input, textarea, .message-box textarea {
	font-size: 1.2em;
}

.panel p {
	font-size: unset;
}

.action-bar {
	font-size: 1.2em;
}

.username-coloured {
	font-weight: normal;
}

.postbody .content {
	font-style: normal;	
	margin: 1.5rem 0 1.5rem 0;
}

a.forumtitle, a.topictitle {
	font-weight: normal;
}

ul.topiclist li.row dl {
	margin: 1em 0 1em 0;
}

a.lastsubject {
	font-weight: normal;
}

.site_logo {
	width: 12rem;
	height: 6rem;
	background-image: url("./images/baneforum_logo_electric.png")
}

.breadcrumbs .crumb {
	font-weight: normal;
}

.postbody h3, .postbody h3.first {
	font-weight: bold;
	font-size: 1.2em;
}

.postbody {
	font-size: 1.15em;
}

.bfYoutube {
	width: 95%;
	height: 360px;
}

dl.thumbnail img {
	padding: 0;
	border: none;
	margin-bottom: 0.5rem;
}

dl.thumbnail dt a:hover img {
	border: none;
}

dl.thumbnail dd {	
	font-style: normal;
}

.attachbox {
	border: 0;
	margin: 0 0 1.5em 0;	
	background-color: transparent;
	padding: 0;	
}

.attachbox dt {	
	text-transform: none;	
}

.attachbox dd {
	border: 0;
}

.error {
	font-weight: normal;
	padding: 1em;
}

input.button2, input.button1 {	
	background-image: none;
    border: none;    
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
	font-weight: normal;
	border-radius: 0.2em;
}

.attach-panel-multi input.button2 {
	margin-bottom: 1em;
}

li.header dd, li.header dt {
	text-transform: none;
	font-weight: normal;
}

.headerbar {
	border-radius: 0em;
	background-image: url("images/baneforum_top.png");
}

.navbar, .forabg, .forumbg, .wrap {
	border-radius: 0em;
}

.forabg, .forumbg {
	background-image: none;
	padding: 0;
}

.site-description h1 {
	font-size: 3em;
}

.post {
	border-radius: 0em;
	padding: 2em;
	margin: 1em 0 1em 0;
}

.content blockquote {
	background-image: none;
	border-radius: 0.5em;
	padding: 1em;
	margin: 1em 0 1em 0;
}

.content blockquote cite {
	margin: 0 0 0.6em 0;
}

li.header dl.row-item dt, li.header dl.row-item dd {
	padding-top: 1em;
	padding-bottom: 1em;	
}

.forabg, .forumbg {
	margin-bottom: 2em;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover, .forum-title a:hover {
    text-decoration: none;
}

li.header dl.row-item dt .list-inner {
	padding-left: 0.5em;
}

.action-bar {
	margin: 2em 0 2em 0;	
}

.responsive-hide strong {
	font-weight: normal;
}

.author i {
	display: none;
}

blockquote cite {
	font-weight: normal;
}

blockquote cite > div {
	display: none;
}

.panel {
	border-radius: 0;	
}

.panel p {	
	margin: 0.5rem 0 0.5rem 0;
}

fieldset dt {
	padding-top: 0.6rem;
}

input.inputbox {
	border-radius: 0.2rem;
	padding: 0.5rem;
}

.forum-title, .topic-title, .searchresults-title {	
	font-size: 2rem;
	font-weight: bold;
}

.section-search .page-body .panel div.inner  {
	padding: 1em;
}

/* .panel {
	-webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.15);
} */

.advanced-search-link, .jumpbox-return {
	display: none;
}

.statistics h3, .headerspace h3  {	
    text-transform: none;
	font-size: 0.9rem;
	border: none;
}

.statistics strong {
	font-weight: normal;
}

.page-body {
	margin: 2rem 0;
}

.pagination li.active span {	
	font-weight: bold;
}

.format-buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.search-box .inputbox {
	height: 2.3rem;
}

li.pagejump  {
	border-radius: 2rem;
    height: 0.9rem;
    min-width: 0.9rem;
}

.action-bar .button-search {	
	margin-right: 0.5rem;
}

.button-search {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	height: 2.3rem;
}

.search-box {
	display: none;
}

.bbcode-status {
	display: none;
}

select.bbcode-size {
	margin-right: 0.5rem;
	border-radius: 0.2rem;
}

textarea {
	border-radius: 0.2rem;
	margin-top: 0.5rem;
}

.content {
	line-height: normal;
}

dl.attachbox dt {    
	border: 0;
	font-weight: bold;
}

.attachbox dl.thumbnail dt {
	margin: 0.2rem;
	border: 0;
}

.attachbox dl.thumbnail {	
	text-align: center;
}

.attachbox dl.thumbnail img {
	margin: 0;
	border: none;
}

.attachbox dl.thumbnail a:hover {
	border: none;
}

dl.file dd {
	font-size: 0.9em;	
}

.button {
	border: none;   
    border-radius: 0.2rem;    
    -webkit-box-shadow: none;
	box-shadow: none;
    padding: 0.5rem;    	
	font-weight: inherit;
}

input.button1:hover, 
input.button2:hover,
.button:hover,
.button:focus {
	border: none;
	text-shadow: none;	
}

.post-buttons .button,
.format-buttons .button {	
	margin-right: 0.2rem;
	min-width: 2rem;
}

.pagination li.active span {
	font-weight: inherit;
}

.wrap {
	max-width: 60vw;
}

@media (max-width: 700px) {
	.wrap {
		max-width: 100vw;
	}
}

@media (max-width: 1280px) {
	.wrap {
		max-width: 100vw;
	}
}

[data-s9e-mediaembed] {
	margin: 1rem 0 1rem 0;
}

.bfYoutube, div.inline-attachment {
	margin: 1.5rem 0 1.5rem 0;
}

table.markdown th {
	font-weight: normal;
}

.postlink {
	border: none;
}

.posting-title {
	margin-bottom: 2rem;	
	font-weight: bold;
}

.posting-title a, posting-title a:hover {
	text-decoration: none;
}

.inputbox {
	border-radius: 0.5rem;
	padding: 0.5rem;
}

.inputbox::placeholder  {    
	text-align: center;
    font-size: 1rem;
}
